{
    "deidentifyTemplate": {
        "displayName": "${display_name}",
        "description": "${description}",
        "deidentifyConfig": {
            "recordTransformations": {
                "fieldTransformations": [
                    {
                        "fields": [
                            {
                                "name": "ein"
                            },
                            {
                                "name": "street"
                            }
                        ],
                        "primitiveTransformation": {
                            "cryptoDeterministicConfig": {
                                "cryptoKey": {
                                    "kmsWrapped": {
                                        "cryptoKeyName": "${crypto_key}",
                                        "wrappedKey": "${wrapped_key}"
                                    }
                                }
                            }
                        }
                    },
                    {
                        "fields": [
                            {
                                "name": "state"
                            }
                        ],
                        "primitiveTransformation": {
                            "cryptoReplaceFfxFpeConfig": {
                                "cryptoKey": {
                                    "kmsWrapped": {
                                        "cryptoKeyName": "${crypto_key}",
                                        "wrappedKey": "${wrapped_key}"
                                    }
                                },
                                "customAlphabet": "abcdefghijklmnopqrstuvwxyz _-;:,.ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
                            }
                        }
                    },
                    {
                        "fields": [
                            {
                                "name": "name"
                            }
                        ],
                        "infoTypeTransformations": {
                            "transformations": [
                                {
                                    "infoTypes": [
                                        {
                                            "name": "PERSON_NAME"
                                        }
                                    ],
                                    "primitiveTransformation": {
                                        "cryptoDeterministicConfig": {
                                            "cryptoKey": {
                                                "kmsWrapped": {
                                                    "cryptoKeyName": "${crypto_key}",
                                                    "wrappedKey": "${wrapped_key}"
                                                }
                                            },
                                            "surrogateInfoType": {
                                                "name": "PERSON_NAME"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                ]
            }
        }
    },
    "templateId": "${template_id}"
}
